.wallpaper {

    width: 800px;
    height: 800px;
    background:url(/images/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count:infinite;
    /* animation-fill-mode: reverse; */
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-delay: 2s;
  }
  
  @keyframes example {
    0%   {background:url(/images/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-delay: 2s;}

    
    30%  {background: url(/images/3.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;}
    70%  {background: url(/images/2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;}
    100% {background: url(/images/1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;}
  }