.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e93939;
  }
  
  .container:hover .overlay {
    
    opacity: 0.5;
  }
  .button:hover{
opacity:1;
  }
 .button{  
           text-transform: uppercase;
           font-weight: 500;
           border: 2px solid black ;
           padding: 8px 12px;
           border-radius: 7px;
           text-decoration: none;
           color: white;
           background-color: rgb(38, 231, 141);
           font-size: 20px;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
 opacity: 0;
        }


 
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } */