body{
margin: 0;
}

.head{   
display: flex;
border: 2px solid black;
/* padding: 12px 12px; */
background-color: rgb(8, 2, 39);
padding: 8px 0px;
}

.nav-ele a{
    border: 2px solid black;
    margin-left: 20px; 
    color:white;
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-ele a:hover{
    opacity: 0.8;
}

.sec-main{
    display: flex;
    border: 2px solid black;
}

.sec-main-div{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
}

.main-1{
    /* padding: 100px 100px; */
    
}

.main-1-elements{
    width: 240px;
    height:37px;
    border: 2px solid black;
    text-align: center;
}

.main-2{
    padding: 50px 70px;
    
}

.main-3-mini{
    width:250px;
    height:250px;
    border: 2px solid black;
}





