*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)
    ,rgba(0,0,0,0.8))
    ,url(photoFP.png);
    background-position:top;
    background-size:auto;
    
}
.header{
    /* border:2px solid black; */
    display:flex;
    margin-top: 17px;
}

.header-logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.699);
    font-size: 30px;
/* border: 2px solid black; */
margin-left: 88px;
    
}
.bx{
padding: 0 3px;
}
.header-btn{
    background-color: rgba(184, 8, 105, 0.315);
    /* border: 2px solid black; */
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.555);
    font-size: 18px;
    margin-left: 900px;
    padding: 12px 19px;
    border-radius: 50px;
}

.header-btn:hover{
    color: white;
    background-color: rgba(184, 8, 105, 0.671);

}

.anime{
    color:white;
    border: 2px solid white;
    /* line-height: 30px; */
    display: flex;
    justify-content: space-between;
    padding: 99px 131px;
    
}

.anime-content{
    border: 2px solid white;
}

.anime-name{
    border: 2px solid white;
}

.anime-details{
    border: 2px solid white;
 margin: 4px;
}

.anime-cast{
    border: 2px solid white;
}

.cast-section img{
    border: 2px solid white;
    width:20px;
    height: 20px;
}

.anime-buttons{
    border: 2px solid white;
}

.anime-btn{
    background-color: rgba(184, 8, 105, 0.315);
    /* border: 2px solid black; */
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.555);
    font-size: 18px;
     /* padding: 12px 19px; */
    border-radius: 50px;
}

.anime-btn:hover{
    color: white;
    background-color: rgba(184, 8, 105, 0.671);

}

.anime-photo{
    border: 2px solid white;
}

.anime-photo img{
    width: 243px;
    height: 310px;
    margin: -33px -504px;
}