body{
    background-color: brown;
}
 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 
.navbar-elements{
  display: flex;
  flex-wrap: nowrap;
  /* padding: 23px; */
  border: 2px solid black;
  justify-content: center;
  justify-content: space-around;
  
}
.link{
    padding: 18px 20px ;
    margin: 20px;
    border: 2px solid black;
    
}
a{
    text-decoration: none;
    color:cornsilk;
}
.btn{
    padding-left: 2px 2px;
    margin-right:23px;
}

/*
body{
    font-family: ;
    font-weight: ;
    font-size: ;
    color: ;
    padding: ;
}

.header{
    height:95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(), 
        rgba()),
         url();
    background-size:cover;
    background-position:top;
    position: relative;
    clip-path:  polygon();
} */
