
 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-transform: uppercase;
} 

body{
    font-family:'Lato', sans-serif ;
    font-weight: 400;
    font-size: 16px;
    color: rgb(238, 238, 238);
    /* padding: 30px; */
}
/* Header */

.container{
    height:95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(23, 6, 88, 0.137), 
        rgba(6, 14, 83, 0.534)),
         url(/img/imgg1.jpg);
    background-size:cover;
    background-position:top;
    position: relative;
    /* clip-path:  polygon(0 0 ,100% 0 ,100% 80% ,0 100%); */
}
.navbar-elements{
  background-color: rgba(2, 15, 2, 0.2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: flex-end;
  
}
.link{
    padding: 8px 31px;
    margin: 7px;
    border-radius: 20px;
    
    
}
.link:hover{
    color: white;
    background-color: rgba(207, 77, 25, 0.966);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,2);

}
.link:active{
    transform: translateY(-1px);
    }
a{
    text-decoration: none;
    color:cornsilk;
}
.btn{
    padding: auto;
}
.search{
    border-radius: 19px;
    padding: 13px 34px;
}
.searchh{
    padding: 1px 20px;
    margin: -16px;
    width: 166px;
    height: 34px;
    border-radius: 19px;
}

/* section part */

.headings{
    font-family: 'Pangolin', cursive;
    width:50%;
    height: 50%;
    margin: 126px 410px;
    font-size: 23px;
    display: flex;
    flex-direction: column;
     justify-content: center;

}

.main-heading{
    font-size: 60px;
    text-align: center;
    font-size: 55px;
    font-weight: 370;
    padding: 9px 20px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{ 
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    /* 60% {
           transform: rotate(120deg);
    } */

    80% {
    transform: translate(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.sub-heading{
    text-align: center;
    font-size: 35px;
    font-weight: 370;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

@keyframes moveInRight{
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
    transform: translate(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.heading-btn{
    text-align: center;
   padding: 12px 31px;
}

.btn1{
    background-color: rgb(226, 38, 13);
    border: 2px solid black;
    padding: 7px 24px;
    border-radius: 19px;
    animation: moveInButton .5s ease-out .7s;
    animation-fill-mode: backwards;
}
.btn1:hover{
    color: white;
    font-weight: 500;
    background-color: rgb(16, 169, 240);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,2);

}
.btn1:active{
    transform: translateY(-1px);
    }

 @keyframes moveInButton{
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }    

